.App {
  display: flex;
  margin: 10px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  height:calc( 100vh - 20px);
}

.App form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App form input,
.App form select {
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 3px;
}
.App form input:last-child {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-color: var(--main-color);
}

.App form input:disabled {
  background-color: rgba(0, 84, 211, 0.298);
}

.left_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  min-width: 415px;
  gap: 10px;
  border-right: 2px solid var(--main-color);
  overflow-y: auto
}

.left_panel h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.add_transaction {
  padding: 10px;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.balance {
  padding: 10px 0 10px 10px;
  min-height: 30%;
  max-height: 45%;
  overflow-y: auto;
}

.add_acc {
  padding: 10px;
}
.add_acc form {
  width: 100%;
  flex-direction: row;
}

.add_acc input[type="submit"] {
  min-width: 33%;
}
.add_acc input[type="text"] {
  width: 100%;
}

.balance_item {
  padding: 5px;
  margin-bottom: 2px;
  border-bottom: 1px solid var(--main-color);
}
.balance_item p {
  display: flex;
  justify-content: space-between;
}

.balance span {
  font-weight: 700;
}

.transactions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
}

.transaction h3{
 font-size: 18px;
}
.transaction {
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}
.transaction p {
  text-align:end;
 }
.transaction p span{
  font-size: 18px;
 font-weight: 700;
}
